/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Logo Container */
.logo-container {
    width: 100px;
}

.logo-container img {
    width: 100%;
}

