.hero-section {
    padding: 2rem 0 6rem;
}

.hero-container {
    text-align: center;
}

.hero-container img {
    width: 8rem;
    margin: 0 auto 2rem;
}

.hero-container h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3.85rem;
    color: var(--light-text);
}

.hero-container h3 {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 3rem;
    color: var(--light-text);
}

.hero-contact-btn {
    position: relative;
    height: 5.625rem;
    padding: 3.25rem 0;
    text-align: center;
}

.hero-contact-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.hero-btn {
    position: absolute;
    bottom: calc(100vh - 70px);
    left: calc(50% - 110px);
    width: 220px;
    height: 50px;
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: var(--secondary);
    background-color: var(--element);
    border: none;
    border-radius: 25px;
    transition: all 500ms ease-in-out;
    visibility: visible;
    overflow: hidden;
    transform: translateZ(0);
}

.hero-btn:hover {
    background-color: var(--accent);
    box-shadow: 7px 10px 5px 0 hsl(192, 100%, 11%);
    transition: all 250ms ease-in-out;
}

.hero-btn:hover a {
    color: var(--light-text);
    transition: color 250ms ease-in-out;
}

.hero-btn svg {
    visibility: hidden;
    position: relative;
    width: 0;
    color: transparent;
    transition: all .5s ease-in-out;
}

.hero-btn a {
    visibility: visible;
    position: relative;
    font-size: 1rem;
    color: var(--secondary);
    transition: all .5s ease-in-out;
}

.hero-btn.round-btn{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 15px;
    left: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    visibility: visible;
    border-radius: 50%;
    transform: translateZ(0);
    transition: all 500ms ease-in-out;
    
}

.hero-btn.round-btn:hover {
    background-color: var(--light-text);
    box-shadow: 0 5px 10px 0 hsla(24, 100%, 50%, 0.45);
}

.hero-btn.round-btn svg {
    visibility: visible;
    width: 26px;
    color: var(--light-text);
    transition: all 500ms ease-in-out;
}

.hero-btn.round-btn:hover svg {
    color: var(--accent);
}

.hero-btn.round-btn a {
    visibility: hidden;
    font-size: 0;
    color: transparent;
    transition: all 500ms ease-in-out;
}

/* Tablet */
@media screen and (min-width: 800px) {
    .hero-container img {
        width: 9.5rem;
    }
    
    .hero-container h1 {
        font-size: 4.75rem;
        padding-bottom: 1rem;
    }
    
    .hero-container h3 {
        font-size: 1.65rem;
        padding-bottom: 1rem;
    }

    .hero-btn {
        cursor: pointer;
    }
}

/* Desktop */
@media screen and (min-width: 1100px) {

    .hero-section {
        padding-top: 5rem;
    }

    .hero-container img {
        width: 11rem;
    }
    
    .hero-container h1 {
        font-size: 6.5rem;
        padding-bottom: 2rem;
    }
    
    .hero-container h3 {
        letter-spacing: 1px;
        padding-bottom: 2rem;
    }

    .hero-btn {
        cursor: pointer;
    }
}