/* Navbar Section */
.navbar-container {
    padding: .25rem 0 0;
}

/* Hamburger Menu */
.menu-toggle {
    position: relative;
    padding: 1rem 0 .65rem;
    cursor: pointer;
    z-index: 1000; 
}

.hamburger {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 2px;
    z-index: 1000;
}

.hamburger::after {
    width: 2rem;
    height: 2px;
}

.hamburger,
.hamburger::after {
    background-color: var(--text);
    border-radius: 1em;
    transition: transform 250ms ease-in;
}

.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::after {
    bottom: 6px;
}

/* Mobile Nav */
.links-container {
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--element);
    margin: 0;
    padding: 10rem 0 0 0;
    border-left: 1px solid rgb(207, 207, 207);
    z-index: 100;

    transform: translateX(110%);
    transition: transform 600ms cubic-bezier(.5, 0, .5, 1);
}

.nav-open .links-container {
    transform: translateX(0);
}

.nav-open .hamburger {
    width: 2rem;
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translateX(6px);
}

.links .link a, .links .link span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    /* font-weight: 400; */
    text-transform: uppercase; 
    color: var(--text);
    padding: 2rem 0;
}

.link span {
    cursor: pointer;
}

/* .links .link a:active, .links .link span:active {
    border-bottom: 2px solid red;
} */

/* Language Selection */
.languages {
    /* position: absolute;
    bottom: 5rem; */
    display: flex;
    align-items: center;
    padding: 7rem 0 2rem 0;
}

.portugues, .english, .darkmode {
    cursor: pointer;
    padding: 0 .5rem;
}

.portugues img, .english img {
    width: 2rem;
}

.darkmode img {
    width: 21px;
}

/* Tablet */
@media screen and (min-width: 900px) {

    .navbar-container {
        flex-grow: 2;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }

    .links-container {
        width: 100%;
        height: 100%;
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        transform: translateX(0);
        transition: transform 600ms cubic-bezier(.5, 0, .5, 1);
    }

    .links {
        display: flex;
        align-items: center;
        padding: 0 0 0 3rem;
    }

    .links .link a, .links .link span {
        color: var(--fade-text);
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 0 0 2.75rem;
    }

    .languages {
        display: flex;
        align-items: center;
        padding: 0;
    }
}

