/* Navbar Section */
.navbar-container {
    /* padding: 0; */
}

/* Hamburger Menu */
.menu-toggle {
    position: relative;
    padding: 1rem 0 .65rem;
    cursor: pointer;
    z-index: 1000; 
}

.hamburger {
    display: block;
    position: relative;
    width: 1rem;
    height: 2px;
    z-index: 1000;
}

.hamburger::after {
    width: 1.5rem;
    height: 2px;
}

.hamburger,
.hamburger::after {
    background-color: var(--light-text);
    border-radius: 3rem;
    transition: transform 250ms ease-in;
}

.hamburger::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
}

.hamburger::after {
    bottom: 6px;
}

/* Mobile Nav */
.links-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--element);
    margin: 0;
    /* padding: 10rem 0 0 0; */
    border-left: 1px solid rgb(207, 207, 207);
    z-index: 100;

    transform: translateX(110%);
    transition: transform 500ms cubic-bezier(.5, 0, .5, 1);
}

.nav-open .links-container {
    transform: translateX(0);
}

.nav-open .menu-toggle {
    position: fixed;
    right: 1.5rem;
}

.nav-open .hamburger {
    width: 1.5rem;
    transform: rotate(-45deg);
    transition: transform 250ms ease-in;
    background-color: var(--text);
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translateX(6px);
    transition: transform 250ms ease-in;
    background-color: var(--text);
}

.links .link {
    padding: 1rem 0;
}

.links .link a, .links .link span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    text-transform: uppercase; 
    color: var(--text);
}

.link span {
    cursor: pointer;
}

/* Hover effect - navbar */
.links .link a:hover, .links .link span:hover {
    color: var(--hover-text);
    border-bottom: 2px solid var(--accent);
}


.links .link a:focus, .links .link span:focus {
    border-bottom: 2px solid var(--accent);
}


.languages {
    display: flex;
    align-items: center;
    padding: 7rem 0 2rem 0;
}

.portugues, .english, .darkmode {
    cursor: pointer;
    padding: 0 .5rem;
}

.portugues img, .english img {
    width: 32px;
}

.darkmode img {
    width: 21px;
}

/* Desktop */
@media screen and (min-width: 900px) {
    .navbar-container {
        flex-grow: 2;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }

    .links-container {
        width: 100%;
        height: 100%;
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: unset;
        transform: translateX(0);
        transition: transform 600ms cubic-bezier(.5, 0, .5, 1);
    }

    .links {
        display: flex;
        align-items: center;
        padding: 0 0 0 4rem;
    }

    .links .link {
        padding: 0 3rem 0 0;
    }

    .links .link a, .links .link span {
        color: var(--light-text);
        font-size: .7rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 2px;
    }

    .languages {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .portugues img, .english img {
        width: 24px;
    }
    
    .darkmode img {
        width: 18px;
    }
}

