/* Navbar Social Media */
.links-container .social-media {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.links-container .social-media a {
    padding: .25rem;
}

.links-container .social-media a svg {
    width: 2rem;
    fill: var(--fade-text);
}

.links-container .social-media a svg:hover {
    fill: var(--accent);
}

/* Desktop */
@media screen and (min-width: 900px) { 
    /* Navbar Social Media */
    .links-container .social-media {
        display: none;
    }

}

